@import "../vendor/bootstrap/css/bootstrap.min.css";
@import "../vendor/datatables-plugins/dataTables.bootstrap.css";
@import "../vendor/metisMenu/metisMenu.min.css";
@import "../vendor/datatables-responsive/dataTables.responsive.css";
@import "../vendor/sb-admin-2/css/sb-admin-2.min.css";
@import "../vendor/font-awesome/css/font-awesome.min.css";

#page-wrapper {
  max-width: 1024px;
  min-height: 0;
  margin: auto;
  padding: 24px;
  border: none;
}
