<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Ebury{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>

        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/metisMenu/metisMenu.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/sb-admin-2/js/sb-admin-2.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index_page') }}">Ebury</a>
                </div>
            </nav>
            <div id="page-wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
