{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-10">Trades</div>
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btn btn-default" id="trade-create-button">New Trade</button>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="trades-table-block">
                <!--trades-table-->
                <table width="100%" class="table table-striped table-bordered table-hover" id="trades-data-table" data-source="{{ url_for('api_v1__trade_resource') }}">
                    <thead>
                        <tr>
                            <th>Sell CCY</th>
                            <th>Sell Amount</th>
                            <th>Buy CCY</th>
                            <th>Buy Amount</th>
                            <th>Rate</th>
                            <th>Date Booked</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--new-trade-form-->
            <div class="panel-body hidden" id="trade-form-block">
                <div class="row" >
                    <div class="col-lg-6">
                        <form role="form" action="{{ url_for('api_v1__trade_resource') }}" method="POST" data-rate-source="{{ url_for('api_v1__currency_rate_resource', base_currency="USD") }}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Sell Currency</label>
                                        <select data-name="sell_currency" class="form-control">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Rate</label>
                                        <p data-name="rate" class="form-control-static">0.00</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Buy Currency</label>
                                        <select data-name="buy_currency" class="form-control">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Sell Amount</label>
                                        <input data-name="sell_amount" class="form-control" placeholder="1.00">
                                    </div>
                                </div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Buy Amount</label>
                                        <p data-name="buy_amount" class="form-control-static">0.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 text-left">
                                    <button type="submit" class="btn btn-default">Create</button>
                                </div>
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4 text-right">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-red hidden" data-name="error-block">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-10">Error</div>
                                    <div class="col-lg-2 text-right">
                                        <button type="button" class="btn btn-danger btn-circle" data-name="close-error"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p data-name="error-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}